{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
  <div class="row">
    <div class="col-lg-3">
      <div class="my-4">
        <form class="filter-form" action="{{ url_for('home') }}" method="GET">
          <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.category.label }}
            {{ form.category(class="form-control category-filter") }}
          </div>
          <div class="form-group">
            {{ form.subcategory.label }}
            {{ form.subcategory(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-primary form-control") }}
        </form>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row my-5 card-wrapper">
        {% if items %}
        {% for item in items %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="{{ url_for('item', item_id=item.id) }}">
                <img class="card-img-top embed-responsive-item" src="{% if item.image %}{{ url_for('uploads', filename=item.image) }}{% else %}{{ url_for('static', filename='images/placeholder.png') }}{% endif %}" alt="">
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ url_for('item', item_id=item.id) }}">{{ item.title }}</a>
              </h4>
              <h5>{{ "$%.2f" | format(item.price) }}</h5>
              <p class="card-text">{{ item.description | safe }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                {{ item.category }} -> {{ item.subcategory }}
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="offset-lg-3">No items to show.</h1>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/subcategory.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}
